.light {
  .contact {
    .links {
      a {
        background-color: $baby-gray;
        color: $dark-gray;
        border: 1px solid $gray;

        &:hover {
          background-color: darken($color: $baby-gray, $amount: 2%);
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);

  .links {
    display: flex;
    margin-top: 3rem;

    a {
      display: block;
      text-decoration: none;
      margin-right: 2rem;
      background-color: $black;
      padding: 1rem;
      border: 1px solid transparent;
      border-radius: 4px;
      color: $gray;
      transition: color 0.15s ease-out, background-color 0.15s ease-out;

      &:hover {
        color: $blue;
        background-color: darken($color: $black, $amount: 2%);
      }

      svg {
        margin-right: 10px;
      }
    }

    @media only screen and (max-width: 576px) {
      flex-direction: column;
      width: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}