@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.content {
 padding-top: 4.5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  height: calc(100vh - 4.5rem);

  @media only screen and (max-width: 1200px) {
    padding-top: 7rem;
    height: auto;
  }
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-weight: normal;
  transition: color 0.3s ease;
}

p {
  line-height: 26px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }

  @media only screen and (max-width: 992px) {
    width: auto;
  }
}