@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-weight: normal;
  transition: color 0.3s ease;
}

p {
  line-height: 26px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }

  @media only screen and (max-width: 992px) {
    width: auto;
  }
}
