@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: $dark-gray;
  color: $gray;
}

.content {
  margin-top: 7.5rem;
  padding-bottom: 3rem;
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-weight: normal;
}

p {
  line-height: 26px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }

  @media only screen and (max-width: 992px) {
    width: auto;
  }
}



