.homepage {
  display: flex;
  height: calc(100vh - 170px);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  h2 {
    color: $blue;
  }

  img {
    width: 500px;
  }
}

