.homepage {
  @extend %height-without-nav;
  display: flex;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    margin: 0;
    padding: 0;
  }

  img {
    width: 500px;
  }
  
  .profile {
    &__info {
      text-align: center;

      & > div {
        color: $blue;
        font-size: 20px;
      }
    }
  }
}

