.homepage {
  display: flex;
  height: calc(100vh - 72px);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  img {
    width: 500px;
  }
  
  .profile {
    &__info {
      text-align: center;

      & > div {
        color: $blue;
        font-size: 20px;
      }
    }
  }
}

