.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $black;
  padding: 1.5em 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  font-weight: 600;

  @media only screen and (max-width: 576px) {
    padding: 1em 0;
  }


  ul {
    display: flex;
    align-items: center;
    margin-right: 3rem;

    li {
      list-style: none;
      padding-right: 1.75em;

      &:last-child {
        padding-right: 0;
      }

      a {
        text-decoration: none;
        color: $white;
        transition: color 0.15s ease-out;

        &:hover {
          color: $blue;
        }

        &.active {
          color: $blue;
        }

        &.home {
          color: $white;
        }
      }
    }

    @media only screen and (max-width: 576px) {
      display: none;
    }
  }
}
