.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $black;
  padding: 1.5em 5em;
  border-bottom: 1px solid rgba(255, 255, 255, .06);

  @media only screen and (max-width: 1200px) {
    padding: 1.5em 1em;
  }


  ul {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      padding-right: 1.75em;

      &:last-child {
        padding-right: 0;
      }

      a {
        text-decoration: none;
        color: $white;
        transition: color 0.15s ease-out;

        &:hover {
          color: $blue;
        }

        &.active {
          color: $blue;
        }

        &.home {
          color: $white;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
}
