.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  padding: 1.5em 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  position: fixed;
  top: 0;
  z-index: 1;
  width: -webkit-fill-available;
  width: -moz-available;
  font-weight: 600;
  transition: background-color 0.3s ease;

  @media only screen and (max-width: 1200px) {
    padding: 1.5em 15px;
  }

  @media only screen and (max-width: 576px) {
    padding: 1em 15px;
  }


  ul {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      padding-right: 1.75em;

      &:last-child {
        padding-right: 0;
      }

      a {
        text-decoration: none;
        color: $white;
        transition: color 0.15s ease-out;

        &:hover, &.active {
          color: $blue;
        }

        &.home {
          color: $white;

          &:hover {
            color: $blue;
          }
        }
      }
    }

    @media only screen and (max-width: 576px) {
      display: none;
    }
  }
}

.light {
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    ul {
      li {
        a {
          color: $dark-gray;
  
          &.home {
            color: $dark-gray;

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }
}